.jogos-online-container {
  background: var(--white);
  width: 1009px;
  height: 2886px;

  margin: 0 auto;
}

.jogos-online-content {
  padding-top: 67px;
  margin-left: 44px;
  margin-right: 44px;
}