@import url('./cards.css');

.outros-riscos-container {
  background: #fff;
  width: 1009px;
  height: 1478px;

  margin: 0 auto;
}

.outros-riscos-content {
  padding-top: 67px;
  margin-left: 44px;
  margin-right: 44px;
}

h3 {
  color: var(--silver-tree-400);

  font-family: 'Nunito Sans', sans-serif;
  font-size: 28px;
  font-weight: 700;

  text-align: center;

  padding-bottom: 32px;

  animation: fadeInLeft;
  animation-duration: 0.8s;
} 
