.publicacao-informacao-privadas-container {
  background: #fff;
  width: 1009px;
  height: 1563px;

  margin: 0 auto;
}

.publicacao-informacao-privadas-content {
  padding-top: 67px;
  margin-left: 44px;
  margin-right: 44px;
}
