body {
  overflow: hidden;
}

.app-quiz {
  background: var(--white);
  width: 90%;
  max-width: 600px;
  margin: 100px auto 0;
  border-radius: 10px;
  padding: 30px;

  border-radius: 28px;
  border: 4px solid var(--eden-900);
}

.app-quiz h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  
  font-size: 25px;
  color: var(--black);
  font-weight: 600;
  border-bottom: 1px solid var(--eden-900);
  padding-bottom: 30px;
}

.quiz {
  padding: 20px 0; 
}

.quiz h2 {
  font-size: 18px;
  color: var(--black);
  font-weight: 600;
  margin-bottom: 20px;
}

.score {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 14px;

  font-size: 28px;
  font-weight: 400;
}

.image-content {
  display: flex;
  align-items: center;
  justify-content: center;

}

#medal {
  margin-top: 50px;
  margin-bottom: 20px;
  display: none;
}

.btn {
  background: var(--white);
  color: var(--black);
  font-weight: 500;
  width: 100%;
  border: 2px solid var(--eden-900);
  padding: 10px;
  margin: 10px 0;
  text-align: left;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover:not([disabled]) {
  background: var(--hover-shamrock-400);
  color: var(--white);
}

.btn:disabled {
  cursor: no-drop;
}

.buttons-container {
  display: flex;
  flex-direction: row;

  gap: 32px;

  margin-top: 22px;
}

#next-btn {
  width: 150px;
  
  background: transparent;
  color: var(--black);
  
  border: 2px solid var(--eden-900);
  border-radius: 6px;
  
  padding: 10px;
  margin: 20px auto 0;
  
  cursor: pointer;
  
  font-weight: 500;
  display: none;

  transition: all 0.4s;
}

#next-btn:hover {
  background: var(--hover-shamrock-400);
  color: var(--white);
}

#home-btn {
  width: 150px;
  
  background: transparent;
  color: var(--black);
  
  border: 2px solid var(--eden-900);
  border-radius: 6px;
  
  padding: 10px;
  margin: 20px auto 0;
  
  cursor: pointer;
  
  font-weight: 500;
  display: none;

  transition: all 0.4s;
}

#home-btn:hover {
  background: var(--hover-shamrock-400);
  color: var(--white);
}

.correct {
  background: var(--algae-green-200);
}
.incorrect {
  background: var(--geraldine-300);
}

.quiz-finish-container {
  background: var(--white);
  width: 1240px;
  height: 835px;

  margin: 50px auto;

  border-radius: 28px;
  border: 4px solid var(--eden-900);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.quiz-finish-title {
  padding-top: 170px;
  
  font-family: 'Nunito-Sans', sans-serif;
  font-size: 38px;
}