.quiz-container {
  background: #fff;
  width: 1009px;
  height: 2360px;

  margin: 0 auto;
}

.quiz-content {
  padding-top: 67px;
  margin-left: 44px;
  margin-right: 44px;
}

h3 {
  color: var(--silver-tree-400);

  font-family: 'Nunito Sans', sans-serif;
  font-size: 28px;
  font-weight: 700;

  text-align: center;

  padding-bottom: 32px;

  animation: fadeInLeft;
  animation-duration: 0.8s;
} 

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 62px;

  padding-top: 50px;

  animation: fadeInLeft;
  animation-duration: 0.8s;
}

.card-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 721px;
  height: 232px;

  background: var(--shamrock-500);

  border: none;
  border-radius: 12px;
}

.card-image {
  width: 150px;
  height: 100px;

  padding-left: 67px;

  animation: zoomInDown;
  animation-duration: 0.8s;
}

.card-content {
  width: 405px;
  height: 163px;

  background: var(--white);
  margin-left: 82px;
  padding-top: 55px;

  text-align: center;

  border: none;
  border-radius: 12px;

}

.card-title {
  width: 295px;

  color: var(--silver-tree-400);

  
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 600;

  animation: zoomInDown;
  animation-duration: 0.8s;
}
